@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
}

.wrapper.active {
  left: -280px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: unset;
  }
}

.container {
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container.active {
  overflow-y: hidden;
}

.container.active:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 600;
}

button {
  border: none;
}

h2,
h3,
h4 {
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

header {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
@media screen and (max-width: 767px) {
  header {
    padding-bottom: 20px;
  }
}

.Header-Row,
.actions,
.Head-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .Header-Row,
  .actions,
  .Head-logo {
    justify-content: space-between;
  }
}

.Head-Logo {
  margin-right: 75px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .Head-Logo {
    margin-right: unset;
  }
}

@media screen and (max-width: 992px) {
  .actions {
    display: inline-flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .mobile-search {
    display: unset;
    width: 100%;
    height: 3.5em;
    position: relative;
  }
}

.mag_glass {
  position: absolute;
  font-size: 0.9375em;
  padding: 0.75em 0.625em 0 0;
  top: 0;
  right: 0;
}

#input-hidden {
  padding-left: 0.9375em;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1019607843);
  font-size: 0.9375em;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.header-mobile {
  display: flex;
  justify-content: center;
  margin-bottom: 0.9375em;
}

.glass_size {
  font-size: 1.4375em;
}

.Header-Row {
  padding: 20px 0;
}

#telephone {
  padding-right: 1.25em;
}

@media screen and (max-width: 767px) {
  .mobile-search {
    margin: 0 auto;
  }
}

.mobile-search,
#telephone,
.header-mobile {
  visibility: hidden;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-search,
  #telephone,
  .header-mobile {
    visibility: unset;
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    display: none;
  }
}

.hamburger-menu {
  height: 3.5em;
  width: 3.75em;
  background-color: #333645;
  position: relative;
  border-radius: 0.2rem;
  cursor: pointer;
}

.ham-bar {
  width: 70%;
  height: 0.25em;
  background-color: white;
  border-radius: 1.5625em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.bar-top {
  top: 30%;
}

.bar-bottom {
  top: 70%;
}

.hamburger-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.hamburger-menu.active .bar-mid {
  opacity: 0;
}

.hamburger-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

#search_input {
  display: unset;
  padding: 0 0.9375em;
  width: 17.5em;
  height: 56px;
  display: block;
  font-size: 0.9375em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #search_input {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #search_input {
    display: unset;
    padding: 0 0.9375em;
    width: 15.625em;
    height: 56px;
    display: block;
    font-size: 0.9375em;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

#glass_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0;
  font-size: 1.25em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #glass_btn {
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  #glass_btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.Search {
  margin-right: 0.625em;
  border: 0.125em;
  position: relative;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .Search {
    margin: unset;
  }
}
@media screen and (max-width: 992px) {
  .Search {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .Search {
    display: none;
  }
}

.glass {
  color: white;
  padding: 0.875em 0.9375em;
  border-radius: 1px 3px 3px 1px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .glass {
    border-radius: 3px;
  }
}
@media screen and (max-width: 992px) {
  .glass {
    border-radius: 1px 3px 3px 1px;
  }
}

.plane,
.glass {
  background-color: #999AA2;
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  #logo {
    margin-right: 0.9375em;
  }
}
@media screen and (max-width: 992px) {
  #logo {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #logo {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    width: 120%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  .contact,
  .Search {
    padding-right: 0.9375em;
  }
}

.plane,
.glass {
  background-color: #999AA2;
}

.plane {
  margin-left: 0.9375em;
  margin-right: 0.9375em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .plane {
    margin-left: 5px;
    margin-right: 0;
  }
}

.mouse,
.plane {
  padding: 1.25em 0.9375em;
  letter-spacing: 0.1875em;
  border-radius: 0.1875em;
  color: white;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .mouse,
  .plane {
    padding: 20px 10px;
  }
}

.mouse {
  margin-left: 0.9375em;
  background-color: #4183d7;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .mouse {
    margin-left: 0;
  }
}

.drop_down {
  position: relative;
}

.down_arrow {
  display: none;
}

.drop_down:hover #bespoke_arrow,
.drop_down:hover #support_arrow,
.drop_down:hover #digital_arrow,
.drop_down:hover #telecoms_arrow,
.drop_down:hover #design_arrow,
.drop_down:hover #security_arrow,
.drop_down:hover #developer_arrow {
  display: block;
}

#bespoke_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #526781;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #bespoke_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #526781;
  }
}

#support_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #286abd;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #support_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #286abd;
  }
}

#digital_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #25a25a;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #digital_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #25a25a;
  }
}

#telecoms_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #bc2c28;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #telecoms_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #bc2c28;
  }
}

#design_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #79539a;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #design_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #79539a;
  }
}

#security_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #de093f;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #security_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #de093f;
  }
}

#developer_arrow:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 107px;
  left: 0;
  width: 0;
  height: 0;
  border: 83px solid transparent;
  border-top: 0;
  border-bottom: 48px solid #a3331d;
  filter: brightness(120%);
  transform: rotate(180deg);
  z-index: 5;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #developer_arrow:after {
    border: 61.5px solid transparent;
    border-bottom: 48px solid #a3331d;
  }
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #333645;
}
@media screen and (max-width: 992px) {
  nav {
    display: none;
  }
}

.drop_down a:visited,
.drop_down a:link {
  color: white;
}

#bespoke_content:hover #bespoke_drop_content,
#support_content:hover #support_drop_content,
#digital_content:hover #digital_drop_content,
#telecoms_content:hover #telecoms_drop_content,
#design_content:hover #design_drop_content,
#security_content:hover #security_drop_content,
#developer_content:hover #developer_drop_content {
  display: block;
}

.drop_down {
  width: 166px;
  padding: 1.5625em 1.5625em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .drop_down {
    width: 123px;
    padding: 25px 15px;
  }
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
}

.dropdown_text h2 {
  color: white;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 221px;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 50px;
  background-color: #526781;
}

#bespoke_drop_down:hover .dropdown_content {
  display: block;
}

.dropdown_categories {
  text-align: center;
}

.dropdown_categories i {
  font-size: 20px;
}

nav a:visited,
nav a:link {
  color: white;
}

.drop_down:hover i {
  color: white;
}

#bespoke_drop_down:hover,
#bespoke_drop_content {
  background-color: #526781;
}

.laptop {
  color: #526781;
}

#support_drop_down:hover,
#support_drop_content {
  background-color: #286abd;
}

.desktop {
  color: #286abd;
}

#digital_drop_down:hover,
#digital_drop_content {
  background-color: #25a25a;
}

.chart {
  color: #25a25a;
}

#telecoms_drop_down:hover,
#telecoms_drop_content {
  background-color: #bc2c28;
}

.phone {
  color: #bc2c28;
}

#design_drop_down:hover,
#design_drop_content {
  background-color: #79539a;
}

.code {
  color: #79539a;
}

#security_drop_down:hover,
#security_drop_content {
  background-color: #de093f;
}

.shield {
  color: #de093f;
}

#developer_drop_down:hover,
#developer_drop_content {
  background-color: #a3331d;
}

.cap {
  color: #a3331d;
}

.dropdown_header {
  font-size: 22px;
}

.dropdown_list {
  display: flex;
}

.dropdown_list li {
  font-size: 18px;
  padding: 15px 0;
  margin-right: 75px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .dropdown_list li {
    margin-right: 60px;
  }
}

.dropdown_list i {
  font-size: 18px;
  margin-right: 15px;
}

.drop_down small {
  font-size: 10px;
}

.background_container {
  margin-top: 221px;
}
@media screen and (max-width: 992px) {
  .background_container {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .background_container {
    margin-top: 200px;
  }
}

.background_text p {
  font-size: 20px;
}

.background_img,
.bespoke_background,
.support_background,
.marketing_background,
.telecoms_background,
.design_background,
.security_background {
  height: 530px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .background_img,
  .bespoke_background,
  .support_background,
  .marketing_background,
  .telecoms_background,
  .design_background,
  .security_background {
    height: 605px;
  }
}

.background_img {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
}

.bespoke_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/bespoke_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .bespoke_background {
    height: 605px;
  }
}

.support_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/support_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .support_background {
    height: 605px;
  }
}

.marketing_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/marketing_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .marketing_background {
    height: 605px;
  }
}

.telecoms_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/telecoms_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .telecoms_background {
    height: 605px;
  }
}

.design_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/design_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .design_background {
    height: 605px;
  }
}

.security_background {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("Images/security_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125em 0 5em 0;
  background-position: center center;
  z-index: -1;
  height: 536px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .security_background {
    height: 605px;
  }
}

.background_text,
.background_btn {
  display: flex;
  flex-direction: column;
  color: white;
}
@media screen and (max-width: 992px) {
  .background_text,
  .background_btn {
    margin: 0;
    text-align: center;
    align-items: center;
  }
}

.background_btn {
  flex-direction: unset;
  margin: 0 0;
}
@media screen and (max-width: 992px) {
  .background_btn {
    margin: 0 auto;
  }
}

.arrow {
  margin-left: 0.625em;
  font-size: 1.375em;
}

.background_text h1 {
  font-size: 60px;
  margin: 0.625em 0;
}
@media screen and (max-width: 992px) {
  .background_text h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .background_text h1 {
    font-size: 40px;
  }
}

.background_text p {
  font-size: x-large;
  margin: 0.625em 0 2.5em 0;
}

.background_btn {
  align-items: center;
  color: white;
  padding: 1.25em;
  border-radius: 0.1875em;
  font-size: medium;
  width: 13.75em;
}

#choose_us,
#design_btn {
  background-color: #926fb1;
}

#bespoke_btn {
  background-color: #566c88;
}

#support_btn {
  background-color: #4183d7;
}

#marketing_btn {
  background-color: #2ecc71;
}

#telecoms_btn {
  background-color: #d64541;
}

#security_btn {
  background-color: #f62459;
}

.text_card {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .text_card {
    display: block;
  }
}

.bottom_text_card {
  display: none;
  visibility: none;
}
@media screen and (max-width: 767px) {
  .bottom_text_card {
    display: flex;
    justify-content: center;
  }
}

.view_work {
  font-size: 24px;
  font-weight: 600;
}

#card_view_work {
  font-size: 24px;
  font-weight: 600;
  margin: 60px 0 0 0;
}
@media screen and (max-width: 767px) {
  #card_view_work {
    display: none;
  }
}

#card_our_services {
  color: #333645;
  font-size: 50px;
}
@media screen and (max-width: 767px) {
  #card_our_services {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  #card_our_services {
    font-size: 45px;
  }
}

.top_cards,
.bottom_cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .top_cards,
  .bottom_cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .top_cards {
    flex-direction: column;
  }
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  .bottom_cards {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .bottom_cards {
    flex-wrap: wrap;
  }
}

.card_style {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#marketing_card {
  height: 300.833px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #marketing_card {
    height: 318.833px;
  }
}
@media screen and (max-width: 992px) {
  #marketing_card {
    height: 282.833px;
  }
}
@media screen and (max-width: 767px) {
  #marketing_card {
    height: unset;
  }
}

@media screen and (max-width: 992px) {
  #training_card {
    height: 272.833px;
  }
}
@media screen and (max-width: 767px) {
  #training_card {
    height: unset;
  }
}

@media screen and (max-width: 992px) {
  #marketing_card button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  #marketing_card button {
    margin-top: unset;
  }
}

#bespoke_card,
#support_card,
#marketing_card {
  width: 368px;
  padding: 25px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #bespoke_card,
  #support_card,
  #marketing_card {
    width: 296px;
  }
}
@media screen and (max-width: 992px) {
  #bespoke_card,
  #support_card,
  #marketing_card {
    width: 710px;
  }
}
@media screen and (max-width: 767px) {
  #bespoke_card,
  #support_card,
  #marketing_card {
    width: 100%;
  }
}

#telecoms_card,
#web_card,
#security_card,
#training_card {
  width: 270px;
  padding: 20px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #telecoms_card,
  #web_card,
  #security_card,
  #training_card {
    width: 415px;
  }
}
@media screen and (max-width: 992px) {
  #telecoms_card,
  #web_card,
  #security_card,
  #training_card {
    width: 335px;
  }
}
@media screen and (max-width: 767px) {
  #telecoms_card,
  #web_card,
  #security_card,
  #training_card {
    width: 100%;
  }
}

#bespoke_card {
  margin: 0 15px 15px 0;
}
@media screen and (max-width: 992px) {
  #bespoke_card {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  #bespoke_card {
    margin: 0 0 15px 0;
  }
}

#support_card {
  margin: 0 15px 15px 15px;
}
@media screen and (max-width: 992px) {
  #support_card {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  #support_card {
    margin: 0 0 15px 0;
  }
}

#marketing_card {
  margin: 0 0 15px 15px;
}
@media screen and (max-width: 992px) {
  #marketing_card {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  #marketing_card {
    margin: 0 0 15px 0;
  }
}

#telecoms_card {
  margin: 15px 15px 0 0;
}
@media screen and (max-width: 992px) {
  #telecoms_card {
    margin: 20px 20px 0 0;
  }
}
@media screen and (max-width: 767px) {
  #telecoms_card {
    margin: 0 0 15px 0;
  }
}

#web_card {
  margin: 15px 15px 0 15px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #web_card {
    margin-right: unset;
  }
}
@media screen and (max-width: 992px) {
  #web_card {
    margin: 20px 0 0 20px;
  }
}
@media screen and (max-width: 767px) {
  #web_card {
    margin: 0 0 15px 0;
  }
}

#security_card {
  margin: 15px 15px 0 15px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #security_card {
    margin-left: unset;
  }
}
@media screen and (max-width: 992px) {
  #security_card {
    margin: 20px 20px 0 0;
  }
}
@media screen and (max-width: 767px) {
  #security_card {
    margin: 0 0 15px 0;
  }
}

#training_card {
  margin: 15px 0 0 15px;
}
@media screen and (max-width: 992px) {
  #training_card {
    margin: 20px 0 0 20px;
  }
}
@media screen and (max-width: 767px) {
  #training_card {
    margin: 0 0 15px 0;
  }
}

.card_container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: #333645;
}

.card_container a:link,
.text_card a:link,
.bottom_text_card a:link,
.card_container a:visited,
.text_card a:visited,
.bottom_text_card a:visited {
  color: #333645;
}

.card_container button,
.card_container i {
  color: white;
}

.card_container a,
.text_card a,
.bottom_text_card a {
  text-decoration: none;
}

.text_card a:hover,
.bottom_text_card a:hover {
  text-decoration: underline;
}

#bespoke_card button,
#bespoke_card i {
  background-color: #67809F;
}

#bespoke_card:hover button,
#bespoke_card:hover i {
  color: #67809F;
  background-color: white;
}

#support_card button,
#support_card i {
  background-color: #4183D7;
}

#support_card:hover button,
#support_card:hover i {
  color: #4183D7;
  background-color: white;
}

#marketing_card button,
#marketing_card i {
  background-color: #2ECC71;
}

#marketing_card:hover button,
#marketing_card:hover i {
  color: #2ECC71;
  background-color: white;
}

#telecoms_card button,
#telecoms_card i {
  background-color: #D64541;
}

#telecoms_card:hover button,
#telecoms_card:hover i {
  color: #D64541;
  background-color: white;
}

#web_card button,
#web_card i {
  background-color: #926FB1;
}

#web_card:hover button,
#web_card:hover i {
  color: #926FB1;
  background-color: white;
}

#security_card button,
#security_card i {
  background-color: #F62459;
}

#security_card:hover button,
#security_card:hover i {
  color: #F62459;
  background-color: white;
}

#training_card button,
#training_card i {
  background-color: #CE4125;
}

#training_card:hover button,
#training_card:hover i {
  color: #CE4125;
  background-color: white;
}

.card_style i {
  padding: 16px 13px;
  margin-top: 15px;
  border-radius: 50%;
}

.card_style button {
  position: relative;
  padding: 16px;
  border-radius: 3px;
  bottom: 0;
}

.card_style:hover p,
.card_style:hover h2 {
  color: white;
}

.card_style:hover {
  transform: translateY(-10px);
}

.card_style {
  transition: 0.5s;
}

#bespoke_card:hover {
  background-color: #67809F;
}

#support_card:hover {
  background-color: #4183D7;
}

#marketing_card:hover {
  background-color: #2ECC71;
}

#telecoms_card:hover {
  background-color: #D64541;
}

#web_card:hover {
  background-color: #926FB1;
}

#security_card:hover {
  background-color: #F62459;
}

#training_card:hover {
  background-color: #CE4125;
}

.ppc {
  display: flex;
  margin: 50px auto;
  width: 100px;
}

.reviews_style {
  padding: 1.875em 0 3.125em 0;
  width: 100%;
  background-color: #333645;
  color: white;
  letter-spacing: 1px;
}

.welcome_header strong,
.client_header strong {
  font-size: 40px;
}

.reviews_style a:link,
.reviews_style a:visited {
  text-decoration: none;
  color: white;
}

.reviews_style a:hover {
  text-decoration: underline;
}

.reviews_style h2 {
  font-size: 2em;
}

.reviews_style button {
  text-align: center;
  padding: 15px 25px;
  border-radius: 6px;
  color: white;
}

.reviews_content {
  display: flex;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .reviews_content {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .reviews_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .reviews_content {
    flex-wrap: wrap;
    flex-direction: unset;
    align-items: unset;
  }
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  .reviews_content button {
    display: flex;
    justify-content: column;
  }
}

.welcome_net {
  width: 700px;
  padding-right: 10px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .welcome_net {
    margin: 0;
    width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .welcome_net {
    margin: 0;
    width: 710px;
    padding: unset;
  }
}
@media screen and (max-width: 767px) {
  .welcome_net {
    width: 100%;
  }
}

.client_reviews {
  width: 800px;
  padding-left: 10px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .client_reviews {
    margin: 0;
    width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .client_reviews {
    margin: 0;
    width: 710px;
    padding: unset;
  }
}
@media screen and (max-width: 767px) {
  .client_reviews {
    width: 100%;
  }
}

.client_text strong {
  font-size: 26px;
}

.main_text,
.ashcroft_review {
  line-height: 30px;
}

.welcome_net p {
  margin: 1.875em 0;
}

.welcome_net button {
  background-color: #272936;
}

.stars {
  color: orange;
  font-size: 40px;
}

.ashcroft_review {
  font-size: 20px;
  font-style: italic;
}

#google_btn {
  background-color: #4287F6;
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  #culture_btn {
    margin-top: 30px;
  }
}

#trustpilot_btn {
  background-color: #00B67B;
  margin-top: 15px;
}

.client_reviews button {
  margin-top: 6.875em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .client_reviews button {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .client_reviews button {
    margin-top: 30px;
  }
}

#HOK {
  color: #A3A8AC;
}

@media screen and (max-width: 992px) {
  .welcome_btns button {
    margin-bottom: 30px;
  }
}

.additional_info {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: #4183d7;
  color: white;
  padding: 0.1875em 0.625em;
  font-size: 0.875em;
}

.main_news_card button {
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

@media screen and (min-width: 993px) and (max-width: 1260px) {
  #news_2 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #news_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #news_2 {
    display: unset;
  }
}

#news_1 button {
  background-color: #926fb1;
}

#news_2 button {
  background-color: #4182d7;
}

#news_3 button {
  background-color: #4183d7;
}

.posted_net {
  display: flex;
  align-items: center;
  margin: 0 1.5625em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .posted_net {
    margin: 0.625em 1.25em 0 1.25em;
  }
}
@media screen and (max-width: 992px) {
  .posted_net {
    margin: 10px 25px 0 25px;
  }
}
@media screen and (max-width: 767px) {
  .posted_net {
    margin: 0 1.5625em 10px 25px;
  }
}

.posted_net img {
  height: 15%;
  width: 15%;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .posted_net img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .posted_net img {
    width: 30px;
    height: 30px;
  }
}

.posted_net p {
  margin-left: 0.625em;
  color: #333645;
}

.news_description {
  color: #666;
}

#additional_news {
  background-color: #926fb1;
}

.additional_info:hover {
  text-decoration: underline;
}

.news_container a {
  text-decoration: none;
}

#secure_connected {
  color: #4183d7;
}

#april_notable {
  color: #4182d7;
}

#may_notable {
  color: #926fb1;
}

.read_time {
  color: rgba(51, 54, 69, 0.5);
}

.news_style:hover {
  transform: translateY(-10px);
}

.news_style a {
  text-align: left;
  transition: 0.5s;
}

.news_style {
  position: relative;
}

.news_style h3,
.read_time {
  font-size: 0.9375em;
}

.news_description,
.posted_net p {
  font-size: 0.875em;
}

.main_news_card h3 {
  margin: 25px 25px 0 25px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .main_news_card h3 {
    margin: 25px 20px 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .main_news_card h3 {
    margin: 25px 20px 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .main_news_card h3 {
    margin: 25px 25px;
  }
}

.main_news_card p {
  margin: 25px 25px 0 25px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .main_news_card p {
    margin: 25px 20px 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .main_news_card p {
    margin: 25px 20px 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .main_news_card p {
    margin: 25px 25px;
  }
}

#may_description {
  margin-top: 45px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #may_description {
    margin-top: 42px;
  }
}
@media screen and (max-width: 992px) {
  #may_description {
    margin-top: 42px;
  }
}
@media screen and (max-width: 767px) {
  #may_description {
    margin: 0 25px 25px 25px;
  }
}

#april_description {
  margin-top: 45px;
}
@media screen and (max-width: 767px) {
  #april_description {
    margin-top: 0;
  }
}

.main_news_card button {
  margin-left: 25px;
  margin-bottom: 0.625em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .main_news_card button {
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .main_news_card button {
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .main_news_card button {
    margin-left: 25px;
    margin-bottom: 30px;
  }
}

#news_1 button {
  margin-top: 60px;
  margin-bottom: 1.25em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #news_1 button {
    margin-top: 32px;
  }
}
@media screen and (max-width: 992px) {
  #news_1 button {
    margin-top: 23px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #news_1 button {
    margin-top: 0;
  }
}

#news_2 button {
  margin-top: 60px;
  margin-bottom: 1.25em;
}
@media screen and (max-width: 767px) {
  #news_2 button {
    margin-top: 0;
  }
}

#news_3 button {
  margin-top: 61px;
  margin-bottom: 1.25em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #news_3 button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  #news_3 button {
    margin-top: 21px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #news_3 button {
    margin-top: 0;
  }
}

.news_cards {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .news_cards {
    flex-direction: column;
    align-items: center;
  }
}

.news_top a:hover,
.news_bottom a:hover {
  text-decoration: underline;
}

.news_top a:visited,
.news_bottom a:visited,
.news_top a:link,
.news_bottom a:link {
  color: #333645;
}

.news_top {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .news_top {
    margin: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .news_top {
    margin: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .news_top {
    justify-content: unset;
    font-size: 1.375em;
    margin: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  #top_view_all {
    display: none;
  }
}

.news_top {
  display: flex;
  justify-content: space-between;
}

.news_bottom {
  display: none;
}
@media screen and (max-width: 767px) {
  .news_bottom {
    display: unset;
    margin: 0 auto;
  }
}

#news_1 {
  margin-top: 20px;
  height: 550px;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  #news_1 {
    height: 560px;
  }
}
@media screen and (max-width: 992px) {
  #news_1 {
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  #news_1 {
    height: unset;
  }
}

.news_style {
  width: 400px;
  height: 550px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .news_style {
    width: 425px;
    height: 560px;
  }
}
@media screen and (max-width: 992px) {
  .news_style {
    width: 340px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .news_style {
    width: unset;
    height: unset;
  }
}

#news_1 {
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  #news_1 {
    margin: unset;
  }
}

#news_2 {
  margin: 0 15px;
}
@media screen and (max-width: 767px) {
  #news_2 {
    margin: unset;
  }
}

#news_3 {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  #news_3 {
    margin: unset;
  }
}

.news_arrow {
  margin-left: 5px;
}

#news_2,
#news_3 {
  margin-top: 20px;
}

.news_img {
  position: relative;
  width: 100%;
}

.posted_net {
  border-width: 75px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.news_top strong,
.view_all,
.news_bottom h3 {
  font-weight: 600;
}

.view_all {
  font-size: 24px;
}

.news_top strong {
  font-size: 34px;
  color: #333645;
}

.news_top h2 {
  margin-top: 45px;
}

.view_all {
  margin-top: 50px;
}

label.required:after {
  content: " *";
  color: #d24d57;
}

form {
  background-color: #DDD;
  width: 100%;
  padding: 1.5625em 0;
}

.newsletter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newletter_header {
  font-size: 1.5em;
}

.newsletter_container button {
  background-color: #333645;
  color: white;
  padding: 13px 13px;
  border-radius: 3px;
  font-size: 0.9375em;
  margin: 20px 0;
  width: 115px;
  text-align: center;
}

.input_text {
  display: inline-flex;
}
@media screen and (max-width: 992px) {
  .input_text {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .input_text {
    display: unset;
  }
}

.newsletter_text_input {
  height: 45px;
  width: 565px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .newsletter_text_input {
    width: 415px;
  }
}
@media screen and (max-width: 992px) {
  .newsletter_text_input {
    width: 710px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter_text_input {
    width: 100%;
  }
}

.name_input {
  margin-right: 15px;
}
@media screen and (max-width: 992px) {
  .name_input {
    margin-right: 0;
    margin-bottom: 0.625em;
  }
}

.email_input {
  margin: 0 0 10px 15px;
}
@media screen and (max-width: 992px) {
  .email_input {
    margin-left: 0;
  }
}

.newsletter_sign_up h2,
.newsletter_sign_up span,
#checkbox_text a:link,
#checkbox_text a:visited {
  color: #333645;
}

.newsletter_sign_up h2 {
  margin: 29px 0 15px 0;
}

.newsletter_sign_up span {
  font-weight: 600;
}

.newsletter_sign_up p {
  font-weight: 500;
}

#checkbox_text {
  font-weight: 600;
  color: #333645;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container span {
  cursor: pointer;
  margin-left: 30px;
  line-height: 30px;
}

.checkbox-container input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
}

.checkbox-container:before {
  content: "";
  width: 26px;
  height: 26px;
  margin-bottom: 25px;
  border-radius: 3px;
  margin-right: 0px;
  border: 3px solid #333645;
  color: #DDD;
  position: absolute;
}

.checkbox-container input[type=checkbox]:checked {
  content: "✔";
  background-color: #323544;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  background-color: #323544;
  padding-top: 1.25em;
  width: 100%;
}

footer h4 {
  color: white;
  margin: 0;
}
@media screen and (max-width: 767px) {
  footer h4 {
    margin: 0 0 0.625em 0;
  }
}

footer ul {
  padding: 0 0;
}
@media screen and (max-width: 767px) {
  footer ul {
    margin: 0 0;
  }
}

.Below-Footer {
  background-color: #212330;
  padding: 0.625em 0;
}

.Below-Footer p {
  color: white;
}

.social-media img {
  width: 300px;
}
@media screen and (max-width: 767px) {
  .social-media img {
    padding-bottom: 0.3125em;
    height: 50%;
  }
}
@media screen and (max-width: 992px) {
  .social-media img {
    width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .social-media img {
    width: 250px;
  }
}

.social-media h4 {
  margin: 0.9375em 0 0.9375em 0;
}

.social-media {
  text-align: left;
  margin: 1.875em 92px 1.875em 0;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .social-media {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 992px) {
  .social-media {
    grid-area: Social;
    margin: 0 0 0.625em 0;
  }
}
@media screen and (max-width: 767px) {
  .social-media {
    margin: 0 0;
  }
}

.Netmatters-Info,
.footer-content {
  display: inline-flex;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .Netmatters-Info,
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .Netmatters-Info,
  .footer-content {
    display: grid;
    grid-template-areas: "Social Social" "About Services" "Industries Locations";
  }
}
@media screen and (max-width: 767px) {
  .Netmatters-Info,
  .footer-content {
    display: flex;
    flex-direction: column;
  }
}

.footer-content a {
  font-size: 0.8125em;
}

footer,
.Netmatters-Info,
.footer-content,
a {
  text-align: center;
}

#Below_Footer {
  text-align: left;
}

@media screen and (max-width: 992px) {
  .About-Netmatters {
    grid-area: About;
  }
}

@media screen and (max-width: 992px) {
  .Our-Services {
    grid-area: Services;
  }
}

@media screen and (max-width: 992px) {
  .Our-Industries {
    grid-area: Industries;
  }
}

@media screen and (max-width: 992px) {
  .Locations {
    grid-area: Locations;
  }
}

.About-Netmatters,
.Our-Services,
.Our-Industries,
.Locations {
  text-align: left;
  line-height: 26px;
  width: 140px;
  margin: 0 0 16px 3.25em;
}
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .About-Netmatters,
  .Our-Services,
  .Our-Industries,
  .Locations {
    width: 215px;
    margin: unset;
  }
}
@media screen and (max-width: 992px) {
  .About-Netmatters,
  .Our-Services,
  .Our-Industries,
  .Locations {
    width: 320px;
    margin: unset;
  }
}
@media screen and (max-width: 767px) {
  .About-Netmatters,
  .Our-Services,
  .Our-Industries,
  .Locations {
    margin: 0.8125em 0;
    padding: 0 0;
  }
}

.facebook,
.linkedin,
.twitter,
.instagram {
  background-color: #212330;
  padding: 1em 1.375em;
  margin-right: 10px;
  font-size: 16px;
}

.face_link,
.twitter_insta {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .face_link,
  .twitter_insta {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .facebook {
    padding: 16px 38px;
  }
}

@media screen and (max-width: 480px) {
  .linkedin {
    padding: 16px 36px;
  }
}

@media screen and (max-width: 480px) {
  .twitter {
    margin-top: 10px;
    padding: 16px 35px;
  }
}

@media screen and (max-width: 480px) {
  .instagram {
    margin-top: 10px;
    padding: 16px 36px;
  }
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

a:hover .facebook {
  background-color: #3b5998;
}

a:hover .twitter {
  background-color: #00aced;
}

a:hover .instagram {
  background-color: #d93175;
}

a:hover .linkedin {
  background-color: #0077b5;
}

.Netmatters-Info a:active {
  color: black;
}

.side_nav {
  display: none;
}
@media screen and (max-width: 992px) {
  .side_nav {
    display: unset;
    text-align: center;
  }
}

#menu_support {
  display: none;
}
@media screen and (max-width: 992px) {
  #menu_support {
    display: unset;
  }
}

.sideMenu_contact li {
  padding: 20px 0;
  margin: 20px 15px;
  border: 1px solid #484b58;
  border-radius: 2px;
}

.sideNav_header li {
  padding: 25px 0;
  margin: 20px 15px;
  border: 1px solid #484b58;
  border-radius: 2px;
  line-height: 20px;
}

.sideNav_header small {
  font-size: 9px;
}

.sideMenu_contact li:hover,
.sideNav_header li:hover {
  background-color: #3d404e;
}

.sideNav_sections li {
  padding: 20px 0;
  margin: 0 15px;
  border: 1px solid rgba(28, 30, 38, 0.5);
  background-color: #262934;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  #menuHead_services li {
    margin-top: 25px;
  }
}

.side_menu.active {
  display: unset;
  overflow: auto;
  margin-left: 350px;
}

.side_menu {
  display: none;
  height: 100vh;
  width: 350px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 700;
  background-color: #333645;
}
@media screen and (max-width: 992px) {
  .side_menu {
    width: 240px;
  }
}

.header_sections {
  background-color: #333645;
}

.sections {
  background-color: #262934;
}

.side_menu a {
  color: white;
  text-decoration: none;
}

.ulHead_sideMenu li {
  padding: 25px 20px;
  border-top: 1px solid #484b58;
}

.ulSection_sideMenu li {
  padding: 20px 15px;
  border-top: 1px solid #1c1e26;
}

.ulHead_sideMenu,
.ulSection_sideMenu,
.side_nav ul {
  padding: unset;
  margin: unset;
}

.angles_right {
  font-size: 8px;
  margin-right: 20px;
}

.ulHead_sideMenu span {
  font-size: 14px;
}

.ulSection_sideMenu span {
  font-size: 14px;
}

.random {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie_container {
  width: 580px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  position: fixed;
  top: 40%;
}

.cookie_container.show {
  visibility: hidden;
}

.cookie_header h2 {
  margin-top: 20px;
  margin-left: 20px;
}

.cookie_text p {
  margin-left: 20px;
  color: #848484;
  font-size: 18px;
  line-height: 28px;
}

.cookie_header {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.cookie_buttons {
  display: inline-flex;
  justify-content: center;
  border-top: 1px solid rgb(229, 229, 229);
  width: 100%;
}

.change_settings {
  margin-right: 30px;
  margin-bottom: 20px;
}

.change_settings,
.accept_cookies {
  margin-top: 20px;
}

.change_settings button {
  background-color: #999aa2;
}

.accept_cookies button {
  background-color: #926fb1;
}

.change_settings button,
.accept_cookies button {
  color: white;
  cursor: pointer;
  padding: 15px 50px;
  border-radius: 3px;
  font-size: 16px;
}

.head_nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  transition: transform 0.3s;
}/*# sourceMappingURL=Style.css.map */