@import 'Partials/mixins',
        'Partials/variable',
        'Partials/base-styling',
        'Main/header',
        'Main/nav',
        'Main/background',
        'Main/info-cards',
        'Main/wheel',
        'Main/reviews',
        'Main/latest-news',
        'Main/newsletter-sign-up',
        'Main/footer';





//SIDE NAV

.side_nav{
    display: none;    
    @include tablet{
        display: unset;
        text-align: center;
    }
}

#menu_support{
    display: none;
    @include tablet{
        display: unset;
    }
}

.sideMenu_contact li{
    padding: 20px 0;
    margin: 20px 15px;
    // border: 1px solid #484b58;
    border-radius: 2px;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
}

.sideNav_header li{
    padding: 25px 0;
    margin: 20px 15px;
    // border: 1px solid #484b58;
    border-radius: 2px;
    line-height: 20px;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
}

.sideNav_header small{
    font-size: 9px;
}

.sideMenu_contact li:hover,
.sideNav_header li:hover{
    background-color: #3d404e;
}


.sideNav_sections li{
    padding: 15px 0;
    margin: 0 15px;
    // border: 1px solid rgba(28, 30, 38, .5);
    background-color: #262934;
    font-size: 14px;
    border-bottom: 1px solid #1c1e26;
    border-top: 1px solid #31343e;
}

#menuHead_services li{
    @include tablet{
        margin-top: 25px;
    }
}



//SIDE MENU

// .side_menu.active{
//     display: unset; 
//     overflow: auto;
//     margin-left: 350px;
//     transform: translateX(0);
// }

// .side_menu{
    // display: none;
    // height: 100vh;
    // width: 350px;
    // position: fixed;
    // top: 0;
    // right: 0;
    // z-index: 700;
    // background-color: #333645;
    // transform: translateX(-100%);
    // transition: transform 5s ease-in-out;
// 
//     @include tablet{
//         width: 240px;
//     }
// }

.side_menu {
    // display: none;
    width: 350px;
    position: fixed;
    top: 0;
    right: -350px; /* Start off-screen to the right */
    height: 100vh;
    background-color: #333645;
    z-index: 999;
    transition: right 0.5s ease-in-out; /* Use transition for the sliding effect */
    @include tablet{
        width: 240px;
    }
  }
  
  .active {
    right: 0; /* Slide in the menu */
    overflow: auto;
    // display: unset;
  }
  
//   .container {
    // margin-right: 320px; /* Adjust for the menu width */
    // transition: margin-right 0.5s ease-in-out;
//   }
  
//   .container.active {
    // margin-right: 0; /* Shift content when menu slides in */
//   }
  

.header_sections{
    background-color: #333645;
}

.sections{
    background-color: #262934;
}

.side_menu a{
    color: white;
    text-decoration: none;
}

.ulHead_sideMenu li{
    padding: 25px 20px;
    border-top: 1px solid #484b58;
}

.ulSection_sideMenu li{
    padding: 20px 15px;
    width: 335px;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1c1e26;
    border-top: 1px solid #31343e;
}


.ulHead_sideMenu,
.ulSection_sideMenu,
.side_nav ul{
    padding: unset;
    margin: unset;
}

.angles_right{
    font-size: 8px;
    margin-right: 20px;
}

.ulHead_sideMenu span{
    font-size: 14px;
}

.ulSection_sideMenu span{
    font-size: 14px;
}

#services:hover #menuHead_services,
#our_work:hover #ourWork_sections,
#our_knowledge:hover #ourKnowledge_sections,
#training_sideMenu:hover #train_sections,
#our_company:hover #ourCompany_sections,
#contact_us_sideMenu:hover #contactUs_sections,
#covid:hover #CRA_sections{
    background-color: rgba(255, 255, 255, 0.1);
    @include tablet{
        background-color: unset;
    }
}



//COOKIE CONSENT

.random{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.cookie_container{
    display: none;
    width: 580px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 40%;
    z-index: 750;
    @include mobile{
        width: 92%;
    }
}

.cookie_container.show{
    visibility: hidden;
}

.cookie_header h2{
    margin-top: 20px;
    margin-left: 20px;
}

.cookie_text p{
    margin-left: 20px;
    color: #848484;
    font-size: 18px;
    line-height: 28px;
}


.cookie_header{
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.cookie_buttons{
    display: inline-flex;
    justify-content: center;
    border-top: 1px solid rgba(229, 229, 229, 1);
    width: 100%;
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
}

.change_settings{
    margin-right: 30px;
    margin-bottom: 20px;
    @include mobile{
        margin: 0;
    }
}

.change_settings,
.accept_cookies{
    margin-top: 20px;
    @include mobile{
        width: 90%;
    }
}

.change_settings:hover button{
    background-color: #6b6b6b;
}

.accept_cookies:hover button{
    background-color: #79539a;
}
.change_settings button{
    background-color: #999aa2;
}

.accept_cookies button{
    background-color: #926fb1;
}

.change_settings button,
.accept_cookies button{
    color: white;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 3px;
    font-size: 16px;
    @include mobile{
        width: 100%;
    }
    
}


.accept_cookies{
    @include mobile{
        margin-bottom: 20px;
    }
}





//STICKY HEADER

.head_nav_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    transition: transform 0.3s;
  }
  