* {
    box-sizing: border-box;
}

html{
    overflow: auto;
}
html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .4px;
}

.wrapper{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    @include laptop{
        max-width: 900px;
    }
    @include tablet{
        max-width: 750px;
    }
    @include mobile{
        max-width: unset;
    }
}

#container{
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100%;
}

button{
    border: none;
}

h2,
h3,
h4 {
    font-weight:400;
}

ol,
ul{
    list-style: none;
}