//======================================================
//Background CSS/SASS:
//======================================================

.background_container{
    margin-top: 221px;
    @include tablet{
        margin-top: 100px;
    }
    @include mobile{
        margin-top: 200px;
    }
}

.background_text p{
    font-size: 20px;
}

//IMAGES
.background_img,
.bespoke_background,
.support_background,
.marketing_background,
.telecoms_background,
.design_background,
.security_background{
    height: 530px;
    @include laptop{
        height: 605px
    }
    // @include tablet{}
}

.background_img{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
}

.bespoke_background{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/bespoke_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}

.support_background{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/support_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}

.marketing_background{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/marketing_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}

.telecoms_background{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/telecoms_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}

.design_background{
    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/design_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}

.security_background{

    background: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-image: url("Images/security_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: em(50px) 0 em(80px) 0;
    background-position: center center;
    z-index: -1;
    height: 536px;
    @include laptop{
        height: 605px
    }
}



//==========================

.background_text,
.background_btn{
    display: flex;
    flex-direction: column;
    color: white;

    // @include laptop{
    //     // margin: 0 0 0 50px;
    //     text-align: left;
    //     align-items: left;
    // }

    @include tablet{
        margin: 0;
        text-align: center;
        align-items: center;
    }
}


.background_btn{
    flex-direction: unset;
    margin: 0 0;
    @include tablet{
        margin: 0 auto;
    }
}

.arrow{
    margin-left: em(10px);
    font-size: em(22px);
}

.background_text h1{
    font-size: 60px;
    margin: em(10px) 0;
    @include tablet{
        font-size: 50px;
    }
    @include mobile{
        font-size: 40px;
    }
}

.background_text p{
    font-size: x-large;
    margin: em(10px) 0 em(40px) 0;
}

.background_btn{
    align-items: center;
    color: white;
    padding: em(20px);
    border-radius: em(3px);
    font-size: medium;
    width: em(220px);
}

#choose_us,
#design_btn{
    background-color: #926fb1;
}

#bespoke_btn{
    background-color: #566c88;
}

#support_btn{
    background-color: #4183d7;
}

#marketing_btn{
    background-color: #2ecc71;
}

#telecoms_btn{
    background-color: #d64541;
}

#security_btn{
    background-color: #f62459;
}