//======================================================
//LATEST NEWS CSS/SASS:
//======================================================

.additional_info{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #4183d7;
    color: white;
    padding: em(3px) em(10px);
    font-size: em(14px);
}

.main_news_card button{
    padding: em(16px) em(24px);
    color: white;
    border-radius: 3px;
}

#news_2{
    @include laptop{
        display: none;
    }
    @include tablet{
        display: none;
    }
    @include mobile{
        display: unset;
    }
}

#news_1 button{
    background-color: #926fb1;
}

#news_2 button{
    background-color: #4182d7;
}

#news_3 button{
    background-color: #4183d7;
}

.posted_net{
    display: flex;
    align-items: center;
    margin: 0 em(25px);
    @include laptop{
        margin: em(10px) em(20px) 0 em(20px);
    }
    @include tablet{
        margin: 10px 25px 0 25px;
    }
    @include mobile{
        margin: 0 em(25px);
    }
}

//MINI LOGO SIZING

.posted_net img{
    height: 15%;
    width: 15%;
    @include laptop{
        width: 50px;
        height: 50px;
    }
    @include mobile{
        width: 30px;
        height: 30px;
    }
}

.posted_net p{
    margin-left: em(10px);
    color: #333645;
}

.news_description{
    color: #666;
}

#additional_news{
    background-color: #926fb1;
}

.additional_info:hover{
    text-decoration: underline;
}

.news_container a{
    text-decoration: none;
}

#secure_connected{
    color: #4183d7;
}
#april_notable{
    color: #4182d7;
}
#may_notable{
    color: #926fb1;
}

.read_time{
    color:rgba(51, 54, 69, .5)
}
.news_style:hover{
    transform: translateY(-10px);
}

.news_style a{
    text-align: left;
    transition: .5s;
}

.news_style{
    position: relative;
}
.news_style h3,
.read_time{
    font-size: em(15px);
}

.news_description,
.posted_net p{
    font-size: em(14px);
}

//POSITIONING FOR THE P AND H3 ELEMENTS WITHIN THE CARD

// .main_news_card p,
// .main_news_card h3{
//     @include laptop{
//         margin-top: 25px;
//     }
// }

// .main_news_card p,
.main_news_card h3{
    margin: 25px 25px 0 25px;
    @include laptop{
        margin: 25px 20px 0 20px;
        // margin-top: 25px;
        // margin-left: em(20px);
    }
    @include tablet{
        margin: 25px 20px 0 20px;
    }
    @include mobile{
        margin: 25px 25px;
    }
}

.main_news_card p{
    margin: 25px 25px 0 25px;
    @include laptop{
        margin: 25px 20px 0 20px;
        // margin-top: 25px;
        // margin-left: em(20px);
    }
    @include tablet{
        margin: 25px 20px 0 20px;
    }
    @include mobile{
        margin: 25px 25px;
    }
}

#may_description{
    margin-top: 45px;
    @include laptop{
        margin-top: 42px;
    }
    @include tablet{
        margin-top: 42px;
    }
    @include mobile{
        margin: 25px 25px;
    }
}

#april_description{
    margin-top: 45px;
}



.main_news_card button{
    margin-left: 25px;
    margin-bottom: em(10px);
    @include laptop{
        margin-left: 20px;
    }
    @include tablet{
        margin: 0 0 0 20px;
    }
    @include mobile{
        margin-left: 25px;
        margin-bottom: 30px;
    }
}



//INSIDE THE CARD STYLING (BUTTON)

#news_1 button{
    margin-top: 60px;
    margin-bottom: em(20px);
    @include laptop{
        margin-top: 47px;
    }
    @include tablet{
        margin-top: 23px;
        margin-bottom: 20px;
    }
    @include mobile{
        margin-top: em(30px);
    }
}

#news_2 button{
    margin-top: 60px;
    margin-bottom: em(20px);
    @include mobile{
        margin-top: em(30px);
    }
}

#news_3 button{
    margin-top: 61px;
    margin-bottom: em(20px);
    @include laptop{
        margin-top: 30px;
    }
    @include tablet{
        margin-top: 21px;
        margin-bottom: 20px;
    }
}

.news_cards{
    display: flex;
    justify-content: center;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}

.news_top a:hover,
.news_bottom a:hover{
    text-decoration: underline;
}

.news_top a:visited,
.news_bottom a:visited,
.news_top a:link,
.news_bottom a:link{
    color: #333645;
}

.news_top{
    display: flex;
    justify-content: center;
    @include laptop{
        margin: 0;
        justify-content: center;
    }
    @include tablet{
        margin: 0;
        justify-content: center;
    }
    @include mobile{
        // margin: 0 0 0 em(35px);
        justify-content: unset;
        font-size: em(22px);
    }
}

//TOP HEADER CHANGER

// #top_view_all{
//     margin-top: 25px;
//     margin-left: 760px;
//     @include laptop{
//         margin-left: em(400px);
//     }
//     @include tablet{
//         margin-left: em(260px);
//     }
//     @include mobile{
//         display: none;
//     }
// }

#top_view_all{
    @include mobile{
        display: none;
    }
}

.news_top{
    display: flex;
    justify-content: space-between;
}
.news_bottom{
    display: none;
    @include mobile{
        display: unset;
        margin: 0 auto;
    }
}

//CARD SIZING

#news_1{
    margin-top: 20px;
    height: 550px;
    @include laptop{
        height: 560px;
    }
    @include tablet{
        height: 500px;
    }
    @include mobile{
        height: unset;
    }
}

.news_style{
    width: 400px;
    height: 550px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // margin: 0 0 0 em(15px);
    @include laptop{
        width: 425px;
        height: 560px;
    }
    @include tablet{
        width: 340px;
        height: 500px;
    }
    @include mobile{
        width: unset;
        height: unset;
        // margin: 0 15px;
    }
}

#news_1{
    margin-right: 15px;
    @include mobile{
        margin: unset;
    }
}

#news_2{
    margin: 0 15px;
    @include mobile{
        margin: unset;
    }
}

#news_3{
    margin-left: 15px;
    @include mobile{
        margin: unset;
    }
}


.news_arrow{
    margin-left: 5px;
}

// #news_3{
//     @include tablet{
//         margin-left: em(30px);
//     }
//     @include mobile{
//         margin: 0 15px;
//     }
// }

#news_2,
#news_3{
    margin-top: 20px;
}

.news_img{
    position: relative;
    width: 100%;
}

.posted_net{
    border-width: 75px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.news_top strong,
.view_all{
    font-weight: 600;
}

.view_all{
    font-size: 24px;
}

.news_top strong{
    font-size: 30px;
}

// .news_bottom h3{
//     margin-top: 40px;
// }

.view_all{
    margin-top: 50px;
}

// #something{
//     margin-top: 40px;
// }