//======================================================
//Wheel CSS/SASS:
//======================================================

.ppc{
    display: flex;
    margin: 50px auto;
    width: 100px;
}